body{  
  font-family: 'Courier New', Courier, monospace;
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(9, 235, 148) 0.3%, rgba(74, 94, 2, 0.8) 90.2% );
}

.App{
  text-align: center;
  
  margin-top: -38px;
}
.App h3{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
p{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.Chat__Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
input{
  width: 150px;
  padding: 4px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 10px;

}
button{
  width: 150px;
  padding: 4px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fa6a09;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}